*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Navcontainer{
  background-color: #282c34;
  color: white;
  height: 10vh;
  width: 100vw;
}

.Contentcontainer{
  background-color: #282c34;
  color: white;
  height: 80vh;
  width: 100vw;
  overflow: scroll;
}

.Basecontainer{
  background-color: #383839;
  color: white;
  height: 10vh;
  width: 100vw;

}

.element{
  margin: 10px;
  padding: 5px;
  width: 250px;
  border-radius: 10px;
  background-color: #111216;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}


.alignment{
  display: flex;
  align-items: center;
  justify-content:center;  

}

img{
  width: 45px;
  height: 45px;
}
.smallimg{
  width: 25Px;
  height: 25px;
  border-radius: 50px;
  background-color: aliceblue;
}

.Addalarm{
  background-color: #282c34;
  color: rgb(129, 54, 54);
  box-shadow: 0px 0px 10px 0px rgba(199, 194, 194, 0.75);
}


/*------------------------ defined field css ---------------------*/

.TimeInput{
  width: 100%;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #282c34;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/*------------------------ defined field css ---------------------*/