*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Navcontainer{
  height: 10vh;
  width: 100vw;
  color: white;
  background-color: #282c34;
}

.Contentcontainer{
  height: 80vh;
  width: 100vw;
  color: white;
  background-color: #282c34;
  overflow: auto;
}

.Basecontainer{
  height: 10vh;
  width: 100vw;
  color: white;
  background-color: #383839;
}

.element{
  width:clamp(250px, 80vw, 800px);
  margin:10px 0px 10px 0px;
  padding: 8px;
  border-radius: 10px;
  background-color: #111216;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.alignment{
  display: flex;
  align-items: center;
  justify-content:center;  
}

img{
  width: 45px;
  height: 45px;
}
.smallimg{
  width: 25Px;
  height: 25px;
  border-radius: 50px;
  background-color: aliceblue;
}

.Addalarm{
  color: rgb(129, 54, 54);
  background-color: #282c34;
  box-shadow: 0px 0px 10px 0px rgba(199, 194, 194, 0.75);
}



.TimeInput{
  width: 100%;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #282c34;
}

#Displayarea{
  display: flex;
  flex-direction: column;
  align-items: center;
}


