
#TimerScreen{
   margin-top: 5px;
   border-radius: 10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.NumberBtn{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

}

.NumberBtn:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.1);
}

.NumberGrid {
  height: 40vh;
  display: grid;
  border: solid 1px #000;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; /* center the content vertically */
  justify-content: center; /* center the content horizontally */
    grid-gap: 10px;
    overflow: hidden;
}

#TimerScreen{
    font-size: 2.5rem;
    font-weight: 80;
    color: white;
    text-align: center;
     width: 100%;
        border-radius: 10px;
}

